<h1>Welcome Admin <%= current_user.first_name %> <%= current_user.last_name %></h1>

<ul>
    <% @hotels.each do |hotel| %>
    <li>
        <%= link_to hotel.name, hotel_path(hotel) %>
    </li>
    <% end %>
</ul>

<%= link_to 'Create Hotel', create_hotel_view_path %>